<br />
<div class="container card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Images/AjayK.jpg" style="border-radius:20%" asp-append-version="true" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">AJAY KARUMATHIL</h4>
                <p class="card-text">Currently working with an MNC as Software Engineer.</p>
                <p class="card-text">Possess sound knowledge in web application development field as a DOT NET Full stack developer.</p>
                <p class="card-text">Has hands on experience in .NET Core MVC, .NET Core Web API and also in fundamentals of React Js.</p>
                <p class="card-text"><small class="text-muted">To Connect</small></p><br />
                <table class="table">
                    <tr>
                        <th>
                            <a href="tel:9003177146" target="_blank">
                                <i class="fas fa-phone fa-2x social" aria-hidden="true"></i>
                            </a>
                        </th>
                        <th>
                            <a target="_blank" href=mailto:ajayk97.ak10@gmail.com subject="Avail web service">
                                <i class="fas fa-envelope fa-2x" aria-hidden="true"></i>
                            </a>
                        </th>
                        <th>
                            <a target="_blank" href="https://www.linkedin.com/in/ajay-karumathil-3b2226b1/" subject="Avail web service">
                                <i style="background:black;color:white;" class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>